# Credentials
config/credentials/*.json
loyalty-service-account.json

# Environment files
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

app/__pycache__
app/*.pyc
app/static/generated_docs